body {
    margin: 0%;
    background-image: url("/assets/BgImage.jpg");
    background-size: cover;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
